<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/orders</property>
        <property name="hibernate.connection.username">example</property>
        <property name="hibernate.connection.password">example</property>
        <mapping class="entity.Order" resource="order.hbm.xml"/>
        <mapping class="entity.Item" resource="item.hbm.xml"/>
        <mapping class="entity.OrderItem" resource="orderItem.hbm.xml"/>
    </session-factory>
</hibernate-configuration>

